@font-face {
  font-family: "Caveat";
  src: url("fonts/Caveat/Caveat-VariableFont_wght.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: pink;
  font-family: "Caveat";
}

button {
  width: 150px;
  height: 50px;
}

hr {
  color: rgb(214, 151, 162);
  background-color: rgb(214, 151, 162);
  height: 2px;
}

a {
  position: relative;
  top : -15px;
  font-size: 30px;
  padding-right: 15px;
  border-right: 2px solid rgb(214, 151, 162);
  padding-top: 15px;
  padding-bottom: 15px;
}

.manga {
  display: flex;
  flex-direction: row;
  border: 1px solid #dda1a1;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin: 20px auto;
}

.manga-img {
  width: 200px;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  padding-right: 15px;
}

.link-img {
  padding-left: 15px;
  max-width: 50px;
  max-height: 50px;
}

.title {
  display: flex;
  flex-direction: row;
}

.title img{
  padding-top: 20px;
  padding-left: 5px;
  max-width: 50px;
  max-height: 50px;
}